body {
    background: url('../img/weather.jpg');
    background-size: cover;
  }
  
  #heading {
    font-family: 'Slabo 27px', serif;
  }
  
  .weather {
    background-color: rgba(236, 240, 241, 0.8);
    padding: 35px 0px;
    border-radius: 5px;
  }
  
  .weather .temp {
    margin-top: 0px;
  }
  
  .weather .iconpic img {
    min-width: 150px;
    min-height: 150px;
  }
  
  a{
    text-decoration: underline;
    color: inherit;
  }